node_modules
npm-debug.log
Dockerfile
docker-compose.yml
.git
.gitignore
.env
**/.env
frontend/node_modules
backend/node_modules
ml/__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
dist
build
.DS_Store
Thumbs.db
*.swp
*.swo
README.md
.dockerignore





